
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__item {
    height: 300px;
    width: 300px;
    background-color: darkturquoise;
    margin-bottom: 50px;
    margin-right: 50px;
}

.container__item:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 960px) {
    .container__item:nth-child(2) {
        background-color: red;
        margin-right: 0;
    }
}

/* overflow the text */

.article__container {
    max-height: 300px;
    width: 50%;
    overflow-y: auto;
    /* word-break: break-all; */
}

.article__container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.article__container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.article__container::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

/* animation */

.animation__item {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    transform: translateX(0);
    transition: .5s;
    animation: slide 1s ease-in-out infinite, color 1s linear infinite;
    /* border-top-right-radius: 0;
    border-bottom-left-radius: 0; */
}

.animation__item:nth-child(1) {
    background-color: royalblue;
    animation-delay: .5s;
}

/* .animation__item:nth-child(1):hover {
    transform: translateX(-100px);
} */

.animation__item:nth-child(2) {
    background-color: darkcyan;
    animation-delay: .55s;
}

.animation__item:nth-child(3) {
    background-color: darkgray;
    animation-delay: .60s;
}

.animation__item:nth-child(4) {
    background-color: darkmagenta;
    animation-delay: .65s;
}

.animation__item:nth-child(5) {
    background-color: darkslategray;
    animation-delay: .70s;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
        background-color: red;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes color {
    0% {
        background-color: white;
    }

    50% {
        background-color: deepskyblue;
    }

    100% {
        background-color: wheat;
    }
}