@font-face {
    font-family: "my-custom-name";
    src: url("../assets/Lato/Lato-Black.ttf");
}
/* stylowanie poprzez nazwę tagu */
body {
    background-color: #fff;
    font-family: "my-custom-name";
    position: relative;
    height: 100vh;
}

/* stylowanie poprzez nazwę selektora */
.box {
    /* height: 30px; */
    box-sizing: border-box;
    border: 1px solid #000;
}

.box p {
    box-sizing: border-box;
}



/* .box p:nth-child(1),
.box p:nth-child(4),
.box p:nth-child(5){
    background-color: darkred;
} */

/* .box p:nth-child(odd) {
    background-color: red;
} */


/* Selectors */
/* siblings */

.box p:first-child {
    background-color: blue;
}
/* how + works */
.paragraph1 + h2 {
    background-color: green;
}
/* how ~ works */
.paragraph1 ~ p {
    background-color: salmon;
}

/* parent selectors */
.box > .heading1 {
    background-color: hotpink;
}

.box.container {
    background-color: lawngreen;
}


/* .paragraph:nth-child(4) {
    background-color: darkred;
}

.paragraph:last-child {
    background-color: darkgreen;
} */

.box-element {
    height: 300px;
    padding: 30px;
    border: 10px solid #000;
    margin: 20px;
    box-sizing: border-box;
}

/* pseudoclass */

.pseudoclasses {
    border: 1px solid #000;
}

.pseudoclasses:hover .pseudoclasses__item:first-child {
    background-color: blue;
}


/* .pseudoclasses__item {
    transition: 1s;
}

.pseudoclasses__item:hover {
    color: #f0f;
} */


/* pseudonelements */
.decorator {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    /* top: 50%;
    left: 50%; */

    height: 300px;
    width: 300px;
    /* transform: translate(-50%, -50%); */
    background-image: url("../assets/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1);
}

/* bug to solve */
/* .decorator::before {
    content: "";
    height: 50px;
    width: 50px;
    left: 25px;
    position: absolute;
    z-index: -1;
    background-color: red;
} */

.decorator::after {
    z-index: -3;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: rgba(0, 0, 255, .5); */
}

h1 {
    position: relative;
}

h1::after {
    z-index: -1;
    content: "";
    height: 100%;
    left: 0;
    width: 10px;
    position: absolute;
    background-color: rgba(0, 0, 255, 1);
}